*{
    padding: 0;
    margin: 0;
}

:root {
    --main-color: #188AAB;
    --dark-main-color: #003c59;
    --secondary-color: black;
    --white: white;
    --color: #f49531;
}

body{
    overflow-x: hidden;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 7.5rem auto auto;
    grid-template-areas:
    "header header header header header"
    "main main main main main"
    "footer footer footer footer footer";
}

html { font-size: 62.5%; } 
body { font-size: 1.4rem; } /* =14px */
h1   { font-size: 2.4rem; } /* =24px */

header{
    grid-area: header;
}

main{
    grid-area: main;
}

footer{
    grid-area: footer;
}

header > nav{
    width: 100%;
    height: 100%;
    background: var(--secondary-color);
}


header nav ul > li:first-child {
    flex: 2 1 auto;
}

header h1 > a{
    text-decoration: none;
    color: var(--color);
    font-family: 'Quintessential', cursive;
    margin: 0 6rem;
    font-size: 4rem;
}

header > nav > ul{
    display: flex;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}


header > nav > ul > li:not(:first-child){
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex: 1 1 auto;
    
}

/* dropdown */

.dropdown{
    position: relative;
}

.dropdown-content{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: var(--secondary-color);
    text-align: center;
    width: 100%;
    z-index: 2000;
    top: 100%;
    left: 0;
    font-family: 'Roboto', sans-serif; ;
    visibility: hidden;
    opacity: 0;
    transition: all 0.4s ease-in-out;
}

.dropdown-content > li{
    list-style-type: none;

}

.dropdown-content > li > a{
    display: inline-block;
    width: 100%;
    padding: 2.5rem 0;
    color: var(--white);
    text-decoration: none;
    font-size: 1.8rem;
}

.dropdown:hover .dropdown-content{
    visibility: visible;
    opacity: 1;

}

.dropdown:hover .dropdown-content >li:hover{
    background: var(--color);
}


header > nav > ul > li > a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 1.8rem;
    text-decoration: none;
    color: var(--white);
    font-family: 'Roboto', sans-serif;
}

header > nav > ul > li > a:hover{
    transition: all 0.5s ease;
    background: var(--color)
}

.main-img{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 60rem;
    background: var(--main-color) url(../bilder/hotel-g2516a8452_640.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: darken;
    text-align: center;
}

.main-img > h1{
    font-size: 7rem;
    color: var(--white);
    font-family: 'Quintessential', cursive;

}

.main-img > p{
    font-size: 2.5rem;
    color: var(--white);
    font-family: 'Quintessential', cursive;;
}

.cards{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 0.5rem;
}

.cards h1{
    font-size: 3rem;
    margin-bottom: 2rem;
}

.cards h2{
    line-height: 1.68em;
    font-size: 1.125em;
    max-width: 90%;
    margin: 0 auto;
   
}

.card1,.card2,.card3,.card4,.card5{
    position: relative;
    flex: 1 1 24%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
    height: 35rem;
    margin: 0.5rem;
    background: grey;
    color: var(--white);
    background: var(--dark-main-color);
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;;
    

}

.card2{
    background: rgba(0, 0, 0, 0.3) url(../bilder/restaurant-g8a85fbe7e_640.jpg);
    background-position: center;
    background-size: cover;
    background-blend-mode: darken;
}

.card4{
    background: rgba(0, 0, 0, 0.3) url(../bilder/chairs-gdc683d29b_640.jpg);
    background-position: center;
    background-size: cover;
    background-blend-mode: darken;
}


.card-btn{
    position: absolute;
    bottom: 3rem;
    height: 5rem;
    width: 18rem;
    background: var(--main-color);
    border-radius: 1.5rem;
}


.card-btn > a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;;
    color: var(--white);
    border-radius: 1.5rem;
}

.card-btn > a:hover{
    transition: all 0.3s ease;
    background: var(--white);
    color: var(--main-color);
    
}

footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 50rem;
    width: 100%;
    background: var(--secondary-color);
   
}

.logo{
    height: 10rem;
    width: 30rem;
    text-align: center;
    color: var(--color);
    margin-top: 4rem;
    
}

.logo > h1{
    font-size: 4rem;
    font-family: 'Quintessential', cursive;;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 70rem;
    height: 30rem;
    font-family: 'Roboto', sans-serif;;
    font-size: 2rem;
}

.info div{
    color: var(--white);
    text-align: center;
}

.info div > p > i{
    margin-right: 1.2rem;
}

.info div > p > a{
    text-decoration: none;
    color: var(--white);
}

.info div > p > a:hover{
    text-decoration: underline;
}

.social-media ul{
    position: relative;
    font-size: 3rem;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

.social-media li a {
    color: var(--white)
}

.social-media ul li {
    position: relative; 
    display: inline-block;
    height: 8rem;
    width: 8rem;
    margin: 1rem;
    line-height: 8rem;
    border-radius: 50%;
    color: #fff;
    background-color: var(--dark-main-color);
    cursor: pointer; 
    transition: all .2s ease-in-out;
}

.social-media ul li:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 8rem;
    height: 8rem;
    line-height: 8rem;
    border-radius: 50%;
    opacity: 0;
    box-shadow: 0 0 0 1px #fff;
    transition: all .2s ease-in-out;
}

.social-media li:hover {
    background-color: var(--white) 
}

.social-media li:hover:after {
    opacity: 1;  
    transform: scale(1.12);
    transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);
}

.social-media li:hover a {
    color: var(--secondary-color)
}

/* boka */

.main-boka{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60rem;
    background-image: url(../bilder/hotel-g2831d2e92_1920.jpg);
    background-size: cover;
    background-position: center;
}

form{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 35rem;
    width: 80rem;
    background: var(--main-color);
    font-family: 'Roboto', sans-serif;;
    border-radius: 4rem;
}

form h1{
    position: absolute;
    top: 2rem;
    font-size: 4rem;
    color: var(--white);
    
}

.check{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 6rem 0;

}


.check > div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 50%;
    position: relative;
}


form div > label{
    position: absolute;
    z-index: 2;
    bottom: 110%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.8rem;

    
}

form > div > div > input{
    position: relative;
    width: 80%;
    height: 4rem;
    color: rgb(150, 148, 148);
    font-size: 1.8rem;
    cursor: pointer;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    right: 0;
    padding: 1rem 0 1rem 30rem;
    cursor: pointer;
  }


.check-info{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}
  
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.number-input {
    max-width: 20rem;
    display: inline-flex;
}
  
.number-input,
.number-input * {
    box-sizing: border-box;
}

.number-input button {
    outline:none;
    -webkit-appearance: none;
    background-color: transparent;
    border: none;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    cursor: pointer;
    margin: 0;
    position: relative;
    background: rgb(255, 255, 255);
    color: var(--secondary-color);
    font-size: 1.5rem;
}
  
.number-input button:after {
    display: inline-block;
    position: absolute;
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900;
    content: '';
    transform: translate(-50%, -50%) rotate(180deg);
}

.number-input button.plus:after {
    transform: translate(-50%, -50%) rotate(0deg);
}
  
.number-input input[type=number] {
    font-family: 'Roboto', sans-serif;;
    max-width: 4rem;
    border: solid #ddd;
    border-width: 0 2px;
    font-size: 2rem;
    height: 4rem;
    font-weight: bold;
    text-align: center;
    max-width: 8rem;
   
}

.check-info > div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 25%;
    position: relative;
}



.check-info > div > a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100%;
    background: var(--dark-main-color);
    text-decoration: none;
    color:var(--white);
    border-radius: 2rem;
    font-size: 2rem;
}

.check-info > div > a:hover{
    transition: all 0.3s ease-in-out;
    background: var(--white);
    color: var(--dark-main-color);
}


/* resturang */

.main-resturang{
    display: flex;
    flex-direction: column;
    height: 190rem;
}

.rest-img{
    width: 100%;
    height: 60rem;
    background: url(../bilder/restaurant-g341322d16_1920.jpg);
    background-position: center;
    background-size: cover;
    opacity: 40%;
}

.rest-cards{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 120rem;
    margin-top: 5rem;
    
}

.rest-text{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 2.5rem;
    font-family: 'Quintessential', cursive;
    font-size: 1.8rem;
}

.rest-cards > .rest-card1,.rest-card2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 35rem;
    font-family: 'Roboto', sans-serif;;
    text-shadow: 2px 2px black;
    
}

.rest-card1{
    background: url(../bilder/wine-gf8f2d81b0_1280.jpg);
    background-position: center;
    background-size: cover;
}

.rest-card2{
    background: url(../bilder/wine-g2d4cc0748_1280.jpg);
    background-position: center;
    background-size: cover;
}

.rest-cards > div > a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 4rem;
    text-decoration: none;
    color: var(--white);
}


.meals{
    width: 80%;
    height: 25rem;
    display: flex;
    justify-content: space-between;
    text-shadow: 2px 2px black;
}

.meals > div{
    width: 35rem;
    height: 20rem;
    background-position: center;
    background-size: cover;
}

.meals > div:hover{
    transition: all 0.5s ease;
    transform: scale(1.1);
}

.breakfast{
    background: url(../bilder/coffee-gcdb27ae5e_640.jpg);
}

.lunch{
    background: url(../bilder/restaurant-g8a85fbe7e_640.jpg);
}

.dinner{
    background: url(../bilder/wine-g09d4e7e1b_1920.jpg);
}

.meals > div > a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 4rem;
    text-decoration: none;
    color: var(--white);
}

/* Hamburger meny */

#hamburger{
    display: none;
}

nav label{
    position: fixed;
    padding: 1.1rem 1.3rem;
    right: 1rem;
    top: 1rem;
    cursor: pointer;
    z-index: 20;
    display: none; 
}

.hamburger-icons, 
.hamburger-icons::before,
.hamburger-icons::after{
    position: absolute;
    width: 1.4rem;
    height: 0.3rem;
    border: 1rem;
    background: white;
    transition: all 0.3s;
}

.hamburger-icons{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.hamburger-icons::before{
    content: "";
    transform: translateY(-0.5rem);
}

.hamburger-icons::after{
    content: "";
    transform: translateY(0.5rem);
}

#hamburger:checked + label .hamburger-icons{
    background: transparent;
    transition: none;
}

#hamburger:checked + label .hamburger-icons::before{
    transform: rotate(45deg);
}

#hamburger:checked + label .hamburger-icons::after{
    transform: rotate(-45deg);
}

/* Hamburger Overlay */

.hamburger-overlay{
    z-index: 19;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 5rem;
    font-size: 160%;
    font-weight: bold;
    visibility: hidden;
    background: transparent;
    clip-path: circle(1.8rem at calc(100% - 2.4rem) 1.7rem);
    transition: all 0.3s ease-in-out;
    font-family: 'Roboto', sans-serif; ;
}

.hamburger-overlay ul{
    list-style-type: none;
    text-align: center;
    justify-content: center;
    width: 15rem;
}

.hamburger-overlay ul > li > h1 a{
    color: var(--color);
    margin: 0 0 2rem;
    font-size: 4rem;
}


.hamburger-overlay > ul a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 1.8rem;
    text-decoration: none;
    color: var(--white);
}

.hamburger-overlay .dropdown-content{
    position: absolute;
    top: 0;
    left: 100%;
}

.hamburger-overlay .dropdown-content > li > a{
    padding: 0;
}


.hamburger-overlay ul li:not(:first-child) a:hover{
    transition: all 0.5s ease;
    background: var(--color)

}

#hamburger:checked ~ .hamburger-overlay{
    visibility: visible;
    background: black;
    clip-path: circle(75%);
}

/* Adjustments for small screens */

@media screen and (max-width: 900px){
    nav label{
        display: block;
    }

    header > nav > ul > li:not(:first-child){
        display: none;
    }

    .card1,.card2,.card3,.card4,.card5{
        flex: wrap;
        flex-basis: 50%;
    }

    .meals{
        flex-wrap: wrap;
        justify-content: center;
    }

    


}









































