*{
    padding: 0;
    margin: 0;
}

:root {
    --main-color: #188AAB;
    --dark-main-color: #003c59;
    --secondary-color: black;
    --white: white;
    --color: #f49531;
}

body{
    overflow-x: hidden;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 7.5rem auto auto;
    grid-template-areas:
    "header header header header header"
    "main main main main main"
    "footer footer footer footer footer";
}

html { font-size: 62.5%; } 
body { font-size: 1.4rem; } /* =14px */
h1   { font-size: 2.4rem; } /* =24px */

header{
    grid-area: header;
}

main{
    grid-area: main;
}

footer{
    grid-area: footer;
}

header > nav{
    width: 100%;
    height: 100%;
    background: var(--secondary-color);
}

header > nav h1{
    margin: 0 6rem;
    font-size: 4rem;
    color: var(--color);
    font-family: 'Quintessential', cursive;
}

header > nav > ul{
    display: flex;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}


header > nav > ul > li{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex: 1 1 auto;
    
}

header > nav > ul > li > a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 1.8rem;
    text-decoration: none;
    color: var(--white);
    font-family: 'Roboto', sans-serif;
}

header > nav > ul > li > a:hover{
    transition: all 0.5s ease;
    background: var(--color)
}

.main-img{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 60rem;
    background: var(--main-color) url(./bilder/hotel-g2516a8452_640.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: darken;
    text-align: center;
}

.main-img > h1{
    font-size: 7rem;
    color: var(--white);
    font-family: 'Quintessential', cursive;

}

.main-img > p{
    font-size: 2.5rem;
    color: var(--white);
    font-family: 'Quintessential', cursive;;
}

.cards{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 0.5rem;
}

.cards h1{
    font-size: 3rem;
    margin-bottom: 2rem;
}

.cards h2{
    line-height: 1.68em;
    font-size: 1.125em;
    max-width: 90%;
    margin: 0 auto;
   
}

.card1,.card2,.card3,.card4{
    position: relative;
    flex: 1 1 24%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
    height: 35rem;
    margin: 0.5rem;
    background: grey;
    color: var(--white);
    background: var(--dark-main-color);
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;;
    

}

.card2{
    background: rgba(0, 0, 0, 0.3) url(./bilder/restaurant-g8a85fbe7e_640.jpg);
    background-position: center;
    background-size: cover;
    background-blend-mode: darken;
}

.card4{
    background: rgba(0, 0, 0, 0.3) url(./bilder/chairs-gdc683d29b_640.jpg);
    background-position: center;
    background-size: cover;
    background-blend-mode: darken;
}

.card-btn{
    position: absolute;
    bottom: 3rem;
    height: 5rem;
    width: 18rem;
    background: var(--main-color);
    border-radius: 1.5rem;

}

.card-btn > a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;;
    color: var(--white);
    border-radius: 1.5rem;
}

.card-btn > a:hover{
    transition: all 0.3s ease;
    background: var(--white);
    color: var(--main-color);
    
}

footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 55rem;
    width: 100%;
    background: var(--secondary-color);
}

.logo{
    height: 10rem;
    width: 30rem;
    text-align: center;
    color: var(--color);
    margin-top: 4rem;
    
}

.logo > h1{
    font-size: 4rem;
    font-family: 'Quintessential', cursive;;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 70rem;
    height: 30rem;
    font-family: 'Roboto', sans-serif;;
    font-size: 2rem;
}

.info div{
    color: var(--white);
    text-align: center;
}

.info div > p > i{
    margin-right: 1.2rem;
}

.info div > p > a{
    text-decoration: none;
    color: var(--white);
}

.info div > p > a:hover{
    text-decoration: underline;
}

.social-media ul{
    position: relative;
    font-size: 3rem;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

.social-media li a {
    color: var(--white)
}

.social-media ul li {
    position: relative; 
    display: inline-block;
    height: 8rem;
    width: 8rem;
    margin: 1rem;
    line-height: 8rem;
    border-radius: 50%;
    color: #fff;
    background-color: var(--dark-main-color);
    cursor: pointer; 
    transition: all .2s ease-in-out;
}

.social-media ul li:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 8rem;
    height: 8rem;
    line-height: 8rem;
    border-radius: 50%;
    opacity: 0;
    box-shadow: 0 0 0 1px #fff;
    transition: all .2s ease-in-out;
}

.social-media li:hover {
    background-color: var(--white) 
}

.social-media li:hover:after {
    opacity: 1;  
    transform: scale(1.12);
    transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);
}

.social-media li:hover a {
    color: var(--secondary-color)
}













